*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1rem;
  background-color: rgb(17 24 39);
  color: rgb(203 213 225);
  font-family: sans-serif;
  --border-thin: 1px solid rgb(55 65 81);
  --border-thick: 2px solid rgb(107 114 128);
  --border-selected: 2px solid rgb(22 78 99);
  --bg-selected: rgb(31 41 55);
}
.sidebar {
  height: 100%;
  background: #111;
  padding: 1.5rem;
  grid-column-start: span 4;
}

.sidebar h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
}

.hint-result {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
  background: #2a3040;
  border-radius: 1rem;
}

.main {
  grid-column-start: 5;
  grid-column-end: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.puzzle {
  border-collapse: collapse;
  border: var(--border-thick);
  margin: 2rem;
}

.puzzle td {
  border: var(--border-thin);
}
.puzzle td:nth-of-type(3n) {
  border-right: var(--border-thick);
}
.puzzle tr:nth-of-type(3n) {
  border-bottom: var(--border-thick);
}

.value {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.value.selected {
  background-color: var(--bg-selected);
  border: var(--border-selected);
}

textarea {
  background: rgb(31 41 55);
  color: rgb(148 163 184);
}
