*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(17 24 39);
  color: rgb(203 213 225);
  font-family: sans-serif;
  --border-thin: 1px solid rgb(55 65 81);
  --border-thick: 2px solid rgb(107 114 128);
  --border-selected: 2px solid rgb(22 78 99);
  --bg-selected: rgb(31 41 55);
}

.puzzle-input {
  margin: 2rem;
}

.puzzle {
  border-collapse: collapse;
  border: var(--border-thick);
  margin: 2rem;
}
.puzzle td {
  border: var(--border-thin);
}
.puzzle td:nth-of-type(3n) {
  border-right: var(--border-thick);
}
.puzzle tr:nth-of-type(3n) {
  border-bottom: var(--border-thick);
}

.value {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.value.selected {
  background-color: var(--bg-selected);
  border: var(--border-selected);
}

textarea {
  background: rgb(31 41 55);
  color: rgb(148 163 184);
}
